body {
  background-image: url('/images/peach-background.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 150%;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25vmin;
  color: var(--text-light);
  padding: 15px;
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  font-size: 14px;
  background-color: #F9FBE7;
}
.pantry-button {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #F0EDD4;
  border-radius: 15%;
  padding: 3px; 
  font-weight: normal;
  font-size: 15px;
  margin: 4px;
}

.login-title {
  font-weight: light;
  border: 2px;
  border-color: #F0EDD4;
  border-style: solid;
  border-radius: 15%;
  background-color: #ECCDB4;
  padding: 3px; 
}

.login-button {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #F0EDD4;
  border-radius: 15%;
  padding: 3px; 
  font-weight: normal;
  font-size: 12px;
}

.navbar {
  background-color: #F0EDD4;
  opacity: .9;
}

.nav-bar-button {
  background-color: #F0EDD4;
  border-radius: 15%;
  padding: 5px;
}

.button-logout {
  background-color: #F0EDD4;
  border-radius: 15%;
  padding: 5px;
  font-size: 12px;
  border-color: #F0EDD4; 
}

.nav-item {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #ECCDB4;
  border-radius: 15%;
  margin-left: 10px;
  margin-right: 10px; 
}

.home-page{
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  opacity: .9;
  background-color: #F9FBE7;
  margin-top: 20px;
  padding: 15px;
}

.home-form{
  margin: 5px;
  margin-bottom: -25px;
}

.new-pantry-page{
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  opacity: .9;
  background-color: #F9FBE7;
  margin-top: 20px;
  padding: 15px;
}

.new-ingredient-form {
  display: grid;
  color: var(--text-light);
  padding: 15px;
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  font-size: 14px;
  background-color: #F9FBE7;
}

.ingredient-label {
  font-size: 20px;
}

.add-ingredients-button {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #F0EDD4;
  border-radius: 15%;
  padding: 3px; 
  font-weight: normal;
  font-size: 15px;
}

.background-div {
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  opacity: .9;
  background-color: #F9FBE7;
  margin-top: 20px;
  padding: 15px;
}
/* loading animation from hubspot */
.center {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9FBE7;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media (max-width: 414px) {
  .navbar {
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2px;
  }
  .nav-item {
    margin: 4px;
  }
  .new-ingredient-form{
    display: grid;
    grid-template-rows: 1fr;
  }
  .spacer-new-form-left {
    flex: 0 0 auto;
    width: auto;
    padding: 0;
  }
  .ingredient-label {
    margin-left: -30px;
    font-size: 16px;
  }
  .add-ingredients-button {
    width: 75%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}
