/* CSS Custom Properties */
/* :root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  /* outline: none;
}

input:focus {
  border-color: var(--orange);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
} */ 

body {
  background-image: url('/public/images/peach-background.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 150%;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25vmin;
  color: var(--text-light);
  padding: 15px;
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  font-size: 14px;
  background-color: #F9FBE7;
}
.pantry-button {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #F0EDD4;
  border-radius: 15%;
  padding: 3px; 
  font-weight: normal;
  font-size: 15px;
  margin: 4px;
}

.login-title {
  font-weight: light;
  border: 2px;
  border-color: #F0EDD4;
  border-style: solid;
  border-radius: 15%;
  background-color: #ECCDB4;
  padding: 3px; 
}

.login-button {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #F0EDD4;
  border-radius: 15%;
  padding: 3px; 
  font-weight: normal;
  font-size: 12px;
}

.navbar {
  background-color: #F0EDD4;
  opacity: .9;
}

.nav-bar-button {
  background-color: #F0EDD4;
  border-radius: 15%;
  padding: 5px;
}

.button-logout {
  background-color: #F0EDD4;
  border-radius: 15%;
  padding: 5px;
  font-size: 12px;
  border-color: #F0EDD4; 
}

.nav-item {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #ECCDB4;
  border-radius: 15%;
  margin-left: 10px;
  margin-right: 10px; 
}

.home-page{
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  opacity: .9;
  background-color: #F9FBE7;
  margin-top: 20px;
  padding: 15px;
}

.home-form{
  margin: 5px;
  margin-bottom: -25px;
}

.new-pantry-page{
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  opacity: .9;
  background-color: #F9FBE7;
  margin-top: 20px;
  padding: 15px;
}

.new-ingredient-form {
  display: grid;
  color: var(--text-light);
  padding: 15px;
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  font-size: 14px;
  background-color: #F9FBE7;
}

.ingredient-label {
  font-size: 20px;
}

.add-ingredients-button {
  background-color: #ECCDB4;
  border: 2px;
  border-style: solid;
  border-color: #F0EDD4;
  border-radius: 15%;
  padding: 3px; 
  font-weight: normal;
  font-size: 15px;
}

.background-div {
  border: 2px;
  border-color: #F9FBE7;
  border-style: solid;
  text-align: left;
  opacity: .9;
  background-color: #F9FBE7;
  margin-top: 20px;
  padding: 15px;
}
/* loading animation from hubspot */
.center {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9FBE7;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@media (max-width: 414px) {
  .navbar {
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2px;
  }
  .nav-item {
    margin: 4px;
  }
  .new-ingredient-form{
    display: grid;
    grid-template-rows: 1fr;
  }
  .spacer-new-form-left {
    flex: 0 0 auto;
    width: auto;
    padding: 0;
  }
  .ingredient-label {
    margin-left: -30px;
    font-size: 16px;
  }
  .add-ingredients-button {
    width: 75%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
  }
}
